{% load static %}
<html>
<style>

table {
    background-color: aqua;
}
th {
    background-color: yellow;
}
tr {
    background-color: yellow;
}
td {
    font-weight: bold;
    font-size:x-large;
}
input[type=text] {
    background-color: transparent;
    border:transparent;
    border:100%;
    font-weight: bold;
}
#slot {
    background-color: aqua;
}
</style>
<head>
<title>Slot Timetable</title>
  
<head>
<body>
  <center>
    <img src="{% static 'slotapp/images/logo.png' %}" alt="Logo" width="780" height="100">
    </center>
    
<br>
<div>
<table align="center" border="5" cellspacing="2" cellpadding="4">
<caption><h2>SLOT TIMETABLE - TARAKESH (25012132)</h2></caption>
<tr>
<th>
    <h2>DAY/TIME</h2>
</th>
<th>
    <h2>MONDAY<h2>
</th>
<th>
    <h2>TUESDAY</h2>
</th>
<th>
    <h2>WEDNESDAY</h2>
</th>
<th><h2>THURSDAY</h2></th>
<th>
    <h2>FRIDAY</h2>

</th>
<th> 
    <h2>SATURDAY</h2>

</th>
<tr>
    <td>8-10</td>
    <td id="slot"><input type="text"></td>
</tr>
<tr>
    <td >10-12</td> 
    <td id="slot"><input type="text"></td>
</tr>
<tr>
    <td>12-1</td>
    <td id="slot"><input type="text"></td>
</tr>
<tr>
    <td>1-3</td>
    <td id="slot"><input type="text"></td>
</tr>
<tr>
    <td>3-5</td>
    <td id="slot"><input type="text"></td>
</tr>
</table>
</div>
</body>
</html>